@charset "UTF-8";

a{
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:active {
	color: black;
	text-decoration: none;
}

/* --------------------- table영역 디자인 --------------------- */ 
.survey-list-box{
	margin-top: 2rem;
	width: 100%;
}
.survey-list-table{
	width: 100%;
	margin: 0 auto;
}
.survey-list-table th{
	font-size: 1.5rem;
	border-bottom: 1px dashed #c0c0c0;
	padding: 0.7rem;
}
.survey-list-table th:nth-child(2){
	border-left: 1px dashed #c0c0c0;
	border-right: 1px dashed #c0c0c0;
}
.survey-list-table td{
	padding: 0.7rem;
}
.survey-list-table td:nth-child(2){
	border-left: 1px dashed #c0c0c0;
	border-right: 1px dashed #c0c0c0;
}
.title{
	width: 40%;
}
.writer{
	width: 20%;
}
.cTime{
	width: 20%;
}
.uTime{
	width: 20%;
}

