@charset "UTF-8";

a{
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:active {
	color: black;
	text-decoration: none;
}


/* --------------------- table영역 디자인 --------------------- */ 
table{
	border-collapse: collapse;
}
.survey-list-box{
	margin-top: 2rem;
	width: 100%;
}
.survey-list-table{
	width: 100%;
	margin: 0 auto;
}
.survey-list-table th{
	font-size: 1.5rem;
	padding: 1rem;
	border-bottom: 1px solid #c0c0c0;
}
.survey-list-table tr:nth-child(even){
	background-color: #f4f4f4;
}

.survey-list-table td{
	padding: 1rem;
}

.title{
	width: 40%;
}
.writer{
	width: 20%;
}
.cTime{
	width: 20%;
}
.uTime{
	width: 20%;
}

