<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surveytogether.mapper.QuestionMapper">

	<sql id="QuestionCol">
		qu_idx,
		qu_survey_idx,
		qu_title,
		qu_format
	</sql>

	<insert id="insertQuestion" parameterType="QuestionDTO" useGeneratedKeys="true" keyProperty="quIdx">
		INSERT INTO 	tb_question(
						<include refid="QuestionCol" />
						)VALUES(
						#{quIdx},
						#{quSurveyIdx},
						#{quTitle},
						#{quFormat}
						)
	</insert>
	
	<update id="updateQuestion" parameterType="QuestionDTO">
		UPDATE 	tb_question
		SET 	qu_title = #{quTitle}
		WHERE 	qu_idx = #{quIdx}
	</update>
	
	<delete id="deleteQuestion" parameterType="long">
		DELETE FROM 	tb_question 
		WHERE 			qu_idx = #{quIdx}
	</delete>
	
	<select id="selectQuestionDetail" parameterType="long" resultType="QuestionDTO">
		SELECT 	<include refid="QuestionCol" />
		FROM 	tb_question
		WHERE 	qu_idx = #{quIdx}
	</select>
	
	<select id="selectQuestionList" parameterType="long" resultType="QuestionDTO">
		SELECT 	<include refid="QuestionCol" />
		FROM 	tb_question
		WHERE 	qu_survey_idx = #{quSurveyIdx}
	</select>
</mapper>