<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surveytogether.mapper.SelectAnswerMapper">

	<sql id="selCol">
		sela_idx,
		sela_question_idx,
		sela_writer,
		sela_answer
	</sql>

	<insert id="saveAnswer" parameterType="SelectAnswerDTO">
		INSERT INTO tb_select_answer(
					<include refid="selCol" />
					)VALUES(
					#{selaIdx},
					#{selaQuestionIdx},
					#{selaWriter},
					<foreach collection="selaAnswer" item="item">
						#{item}
					</foreach>
					)
	</insert>
	
	<select id="selectAnswerPeople" parameterType="Long" resultType="String">
		SELECT 	DISTINCT(sela_writer)
		FROM 	tb_select_answer
		WHERE 	sela_question_idx = #{questionIdx}
	</select>
	
	<select id="selectAnswer" resultType="String">
		SELECT 	sela_answer
		FROM 	tb_select_answer
		WHERE 	sela_question_idx = #{questionIdx}
		AND 	sela_writer = #{writer}
	</select>
	
</mapper>