<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surveytogether.mapper.StringAnswerMapper">
	
	<sql id="strCol">
		stra_idx,
		stra_question_idx,
		stra_writer,
		stra_answer
	</sql>

	<insert id="saveAnswer" parameterType="StringAnswerDTO">
		INSERT INTO tb_string_answer(
					<include refid="strCol" />
					)VALUES(
					#{straIdx},
					#{straQuestionIdx},
					#{straWriter},
					#{straAnswer}
					)
	</insert>
	
	<select id="selectAnswerPeople" parameterType="Long" resultType="String">
		SELECT 	DISTINCT(stra_writer)
		FROM 	tb_string_answer
		WHERE 	stra_question_idx = #{questionIdx}
	</select>
	
	<select id="selectAnswer" resultType="String">
		SELECT 	stra_answer
		FROM 	tb_string_answer
		WHERE 	stra_question_idx = #{questionIdx}
		AND 	stra_writer = #{writer}
	</select>
	
</mapper>